/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  /*margin: 40px 0;*/
  position: fixed;
  bottom: 0;
  width: 100%;
}
.marketing p + h4 {
  margin-top: 28px;
}
#dish_num{
  display: inline-block;
  width: 30%;
  text-align: center;

}
#dish_num span{
  font-size: 32px;
  font-weight: bold;
  color: red;
  vertical-align: middle;
  margin-left: 3px;
  text-align: center;
}
#dish_num img{
  width: 33px;
  height: 33px;
  float: left;
}
.animateNum{
  font-size: 40px;
  font-weight: bold;;
  color: red;
  position: absolute;
  z-index: 1000000;
  left:12px;
  top:-5px;
  -webkit-animation: flow 1.0s linear;
}
@-webkit-keyframes flow {
  0% {
    -webkit-transform: rotate(0deg) scale(0.9);
    opacity: 0.7;
    top: 5px;
    left:-8px;
  }
  50% {
    -webkit-transform: rotate(-180deg) scale(0.6);
    opacity: 0.6;
    top: 35px;
    left:-38px;
  }
  100% {
    -webkit-transform: rotate(-360deg) scale(0.4);
    opacity: 0.4;
    top: 65px;
    left:-68px;
  }
}
#option-dialog{
  width:315px;
  min-height:100px;
}
#option-dialog button{
  margin:3px;
}
#option-dialog button{
  padding:5px 4px;
}
.d-content{
  padding: 10px 0!important;
}
#dishList .dishName{
  max-width: 140px;
  min-width: 140px;
}
#dishList td{
  vertical-align: middle;
}
.navi li{
  border:1px solid #ccc;
  border-radius: 6px;
}
.chef_list{
  border: 1px solid #ccc;
  margin: 10px 5px;
}
#chef_dish_list .table{
  margin-bottom: 8px;
}
#chef_dish_list button{
  width: 40%;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 20px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
